/* Write your CSS here */
.list-repo {
  width: 30%;
  padding: 15px;
  background-color: #f8f8ff;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  border-radius: 10px;
}
.repo-img {
  height: 120px;
  width: 120px;
}
.repo-head {
  color: #e73959;
}
.info-con {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0px;
  padding: 0px;
  color: #1e293b;
}
.repo-star {
  width: 20px;
  height: 20px;
}
.info-para {
  font-size: 18px;
  font-weight: 400;
}
